<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="LimitedChromeManager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="LimitedChromeManager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <applicationSettings>
        <LimitedChromeManager.Properties.Settings>
            <setting name="chromPSExec" serializeAs="String">
                <value />
            </setting>
            <setting name="token" serializeAs="String">
                <value>123123</value>
            </setting>
        </LimitedChromeManager.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <LimitedChromeManager.Properties.Settings>
            <setting name="AllowedProcessesPaths" serializeAs="String">
                <value>C:\Windows\System32\curl.exe;</value>
            </setting>
            <setting name="AllowedUserNames" serializeAs="String">
                <value>Yoni;</value>
            </setting>
            <setting name="AllowedUserSids" serializeAs="String">
                <value />
            </setting>
        </LimitedChromeManager.Properties.Settings>
    </userSettings>
</configuration>