<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="LimitedChromeManager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <applicationSettings>
        <LimitedChromeManager.Properties.Settings>
            <setting name="token" serializeAs="String">
                <value>123123</value>
            </setting>
            <setting name="AllowedProcessesPaths" serializeAs="String">
                <value>C:\Windows\System32\curl.exe;C:\Windows\System32\cmd.exe;</value>
            </setting>
            <setting name="LimitedUserName" serializeAs="String">
                <value>ChromeLimited</value>
            </setting>
            <setting name="RequestFindings" serializeAs="String">
                <value>/get/token;Agent: selfc-ext</value>
            </setting>
            <setting name="RequestTimeoutSec" serializeAs="String">
                <value>120</value>
            </setting>
            <setting name="ProcessToRun" serializeAs="String">
                <value>C:\ProxyServices\ProxyFilteredChrome\RunAsUserInteractive.exe</value>
            </setting>
            <setting name="ProcessToRunArgs" serializeAs="String">
                <value>C:\ProxyServices\ProxyFilteredChrome\PsExec.exe -- -accepteula -d -i {i} -u ChromeLimited -p 6666 -w C:\Windows\System32\ C:\Windows\System32\cmd.exe </value>
            </setting>
        </LimitedChromeManager.Properties.Settings>
    </applicationSettings>
</configuration>